@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.pic-right {
  position: absolute;
  transform: rotate(90deg);
  left: 300px;
}
.pic-left {
  position: absolute;
  transform: rotate(90deg);
  right: 300px;
}

.ant-form-item-explain-error {
  position: fixed;
}

/*   */
